/* maki */
[class*="maki-"]:before {
    font-family:'maki', sans-serif;
}
/* entypo */
[class*="entypo-"]:before {
    font-family:'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
    font-family:'FontAwesome', sans-serif;
}

/*
  PREALOADER
 */
 a:hover {
    text-decoration: none!important;
}
#preloader {
  
    /* IE 8 and below */
    height:5px;
   /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    background-color: rgba(37, 45, 59, 1.0);
    /* change if the mask should have another color then white */
    z-index: 2000;
    /* makes sure it stays on top */
    /*   background-image: url("../img/overlays/06.png");
  background-repeat: repeat; */
}
#mapContainer {
    font-family: sans-serif;
    background: #fff;
    color: #444;
    height: 100%;
    padding: 0;
    margin: 0;
}
#logo {
    left: 19px;
    position: relative;
    top: -34px;
    max-width: 191px;
}
#logo-mobile {
    left: -33px;
    position: absolute;
    top: -14px;
    z-index: 0;
}
#logo h1, #logo-mobile h1 {
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -1px;
    text-decoration: inherit;
    text-transform: uppercase;
    color: #fff;
}
#logo h1 span, #logo-mobile h1 span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-size: 11px;
    margin-left: 0;
    padding: 0 5px;
    position: relative;
    top: -3px;
}
/**
 * BOOTSRAP COUSTOM
 */
 .container-fluid {
    padding-left: 0!important;
    padding-right: 0!important;
}
.row-fluid[class*="span"] {
    margin-left: 0!important;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 0px 16px!important;
    margin-top: 2px!important;
    margin-right: 15px;
    margin-bottom: 15px!important;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px!important;
    font-size: 31px!important;
    color: #fff!important;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent!important;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 5px!important;
}

.tickercontainer .mask {
    /* that serves as a mask. so you get a sort of padding both left and right */
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    top: 13px;
    height: 20px;
    width: 100%;
    overflow: hidden;
}
ul.newsticker {
    font: bold 35px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-transform: uppercase;
}
ul.newsticker li {
    float: left;
    background-position: -2px -2px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    margin: 0;
    padding-left: 25px;
    padding-right: 19px;
}
ul.newsticker a {
    white-space: nowrap;
    padding: 0;
    color: #fff;
    font: bold 10px Verdana;
    margin: 0 50px 0 0;
}
ul.newsticker span {
    margin: 0 10px 0 0;
}
#webticker2 {
    float: right;
}
#webticker2 li {
    float: right;
    margin: 0;
    padding-left: 15px;
}
.informasi-dtng {
    background: #0C1220;
    height: 100%;
    width: 30%;
    position: fixed;
    right: 0;
    top: 107px;
    padding: 10px;
}
.progress-table {
    margin-top: 25px;
    color: #000;
}
.table-center {
    text-align: center;
    font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.table-halte {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left !important;
}
.progress {
    box-shadow: none;
}
.progress.active .bar {
    border-radius: 5px!important;
}
.progress-bg {
    background: #F4AF0B;
    border-radius: 5px;
    padding: 5px;
    margin-top: 85px;
}
img.bus-icon {
    float: right;
    position: relative;
    right: 3px;
    top: 1px;
    z-index: 5 !important;
}
.label {
    font-weight: normal!important;
    text-transform: capitalize!important;
}
#label ul {
    margin-left: -35px;
}
#label ul li {
    display: inline;
    margin-right: 5px;
}
/**
 * SIDEBAR 
 */
 #menu-showhide {
    margin: 10px;
}
.side-dash {
    margin: 10px;
    width: 230px;
}
.side-dash h3 {
    color: #FFFFFF !important;
    font-size: 12px;
    margin-bottom: 10px !important;
    padding: 10px;
}
.side-dash h3 span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    margin-left: -10px;
    padding: 4px 12px;
    text-align: center;
}
.side-dashh-list, .side-bar-list {
    margin-bottom: 25px;
    margin-left: -30px;
}
.side-dashh-list li, .side-bar-list li {
    font-size: 12px !important;
    line-height: 1.6em !important;
}
.side-dashh-list span {
    float: right !important;
    padding-right: 15px;
}
.side-dashh-list span i {
    left: 0 !important;
    margin-left: 8px;
}
.side-bar-list li {
    font-size: 12px !important;
    line-height: 4em !important;
}
.linebar, .linebar2, .linebar3 {
    float: right;
    margin-right: 10px;
}
.scroll {
    float: left;
    width: 21%;
    padding: 0;
    margin-left: 4%;
    margin-top: 40px;
}
.side-bar {
}
.topnav {
    padding: 40px 28px 25px 0;
}
img.icon-menu {
    margin-left: 10px;
    margin-right: 3px;
    margin-top: 3px;
}
ul.topnav {
    margin: 0;
    font-size: 14px;
    line-height: 0.5em!important;
    list-style: none!important;
    padding: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
ul.topnav li {
}
ul.topnav li a {
    color: #FFFFFF !important;
    display: block;
    font-size: 13px;
    line-height: 25px;
    list-style: none outside none;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
}
.menucon-main {
    color: red!important;
}
/**
 * DATA TOOLTIP
 */
 .ui-tooltip, .arrow:after {
    background: #A6A7B3!important;
    border: 0px solid white!important;
}
.ui-tooltip {
    padding: 5px 10px;
    color: #ffffff!important;
    border-radius: 20px;
    font: normal 10px"Helvetica Neue", Sans-Serif!important;
    text-transform: none!important;
    box-shadow: none!important;
    margin-top: -80px;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content:"";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: none!important;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}
ul.topnav li a:hover {
    background-color:rgba(0, 0, 0, 0.2);
    /* #252d3b */
    color: white!important;
    text-shadow: none;
    border-left: 2px solid #ffffff;
    padding-left: 28px;
    position: relative;
}
ul.topnav li a:hover:after {
    border-bottom:6px solid #ffffff;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    width:0;
    height:0;
    position: absolute;
    top:19px;
    left: -6px;
    content:"";
    display:block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    tranform: rotate(90deg);
}
ul.topnav ul {
    margin: 0;
    padding: 0;
    display: none;
}
ul.topnav ul li {
    margin: 0;
    padding: 0;
    clear: both;
    list-style: none outside none;
}
ul.topnav ul li a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 13px;
    font-weight: normal;
    outline: 0 none;
    padding-left: 30px;
    /* transition: all 0.2s ease 0s;*/
}
ul.topnav ul li a i {
}
ul.topnav ul li a:hover {
    background-color: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    color: #FFFFFF!important;
}
ul.topnav ul ul li a {
    color: #444;
    padding-left: 40px;
    background: #252d3b;
    transition: all 0.2s ease 0s;
}
ul.topnav ul ul li a:hover {
    background-color: #D3CEB8;
    color: #675C7C;
}
ul.topnav h4 {
    float: right !important;
    margin-top: -2px;
}
.nest-bg {
    margin-top: 40px;
}
.dahboard-gauge {
    background: #fff;
    padding: 5px;
    border-radius: 3px;
    margin: 25px 0 0 0;
    border: 1px solid #ccc;
    position: relative;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.dahboard-gauge:after, .dahboard-gauge:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    bottom: -3px;
    content:"";
    display: block;
    height: 1px;
    left: 3px;
    position: absolute;
    right: 3px;
    border-radius: 0 0 3px 3px;
}
.dahboard-gauge:before {
    bottom: -5px;
    left: 6px;
    right: 6px;
}
/**
 * TOP NAVBAR
 */
 .navbar-inverse .navbar-inner {
    background: #20262E !important;
    border: 0 solid #FFFFFF !important;
    box-shadow: none !important;
}
.navbar-color {
    border-bottom: 4px solid #FFFFFF;
    border-top: 5px solid #0F1D2F;
}
.noft-pos {
    position: absolute!important;
    top: -10px!important;
    z-index: 2147483647;
    right: 0;
}
.badge {
    border-radius: 9px 9px 9px 9px;
    padding-left: 6px!important;
    padding-right: 6px!important;
}
.navbar .brand {
    font-size: 22px !important;
    letter-spacing: -2px;
    text-transform: uppercase;
    ;
}
.navbar .brand span {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2px;
}
.navbar .brand i {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px 2px 2px 2px;
    color: #F4F4F4;
    font-size: 9px;
    font-style: normal;
    letter-spacing: 0;
    padding: 2px 3px;
    position: relative;
    right: -7px;
    top: -4px;
}
.devider-nav-top {
    width: 2px;
    height: 60px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    display: block;
    margin: 0px 7px 0 0px;
}
.btn-wigdet {
    margin:-7px 25px 0 0!important;
}
.input-widget {
    margin:-7px 25px 0 0!important;
}
.margin-iconic {
    margin-right: 10px;
}
/**
 * SLIDE PANEL
 */

.daily-weather > h5 > p {
    font-size: 12px;
}
.traffic > h2 {
    font-size: 14px;
    margin: 0;
}
.traffic > h1 {
    color: #45B6B0;
    font-size: 35px;
    font-weight: 600;
    margin: 5px 0;
    margin: 5px 0;
}
.speed > h2 {
    font-size: 14px;
    margin: 0;
}
.speed > h1 {
    color: #45B6B0;
    font-size: 50px;
    font-weight: 600;
    margin: 5px 0;
    margin: 5px 0;
}
.speed > h1 > span {
    background: none repeat scroll 0 0 #45B6B0;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    left: -5px;
    margin: 0;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
}
.traffic-rates > h4 {
    background: none repeat scroll 0 0 #45B6B0;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    margin-top: 25px;
    padding: 8px 0;
    text-align: center;
}
.traffic-rates > h1 {
    color: #45B6B0;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.traffic-rates > h1 > span {
    font-size: 11px;
}
/*PULGIN CONTENT*/
 .tooltip-examples {
    padding: 0;
    margin: 0;
}
.tooltip-examples li {
    display: inline;
}
.tooltip-examples li a {
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    margin-left: 10px;
}
/**
 *  CHECKBOX
 */
 .check-box-list {
    margin: 0;
    padding: 0;
}
.check-box-list li {
    display: inline-block;
    text-decoration: none;
    margin: 0 20px 0 0;
}
.list {
    float: left;
    margin: 0;
    padding-right: 60px;
}
.list li {
    position: relative;
    list-style: none;
}
.list label {
    position: relative;
    right: -26px;
    top: -20px;
}

.warning-color {
    background: #595F69!important;
    color: #FFF!important;
}
.dash-ico {
    font-size: 45px;
}
.chat-left {
    position: relative;
    width: 80%;
    color: #ffffff;
    padding: 12px;
    background: rgb(26, 188, 156);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    left: 22px;
}
.chat-left:after {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 13px 15px 13px 0;
    border-color: transparent rgb(26, 188, 156);
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -13px;
    left: -15px;
    top: 30px;
}
.chat-right {
    position: relative;
    width: 80%;
    color: #fff;
    padding: 12px;
    background: #3498DB;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    left: 0;
}
.chat-right:after {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 13px 0 13px 15px;
    border-color: transparent #3498DB;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -13px;
    right: -15px;
    top: 30px;
}
.media-heading {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin: 0 0 6px;
    padding: 0 0 5px;
}
.message-form {
    margin: 20px 0 0 0;
    background: #f8f8f8;
}
.graphControls {
    margin: 0 0 0 20px;
}
.gauge {
    text-align: center;
    margin: 0 auto;
}
.fullscreen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 9999;
    margin: 0;
    padding: 0;
    background: inherit;
    background-color: #fff;
}
.body-flow {
    overflow-y: hidden;
}
.body-flow-scroll {
    overflow-y: auto!important;
}
/**
 * TOP DASHBOARD
 */
 .profit {
    background-color: #FFFFFF;
    padding: 15px;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 4px;
    margin-bottom: 15px;
    z-index: 0;
}
.profit .headline {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}
.profit .headline h3 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
}
.profit .headline h3 span {
    background-color: #FF6B6B;
    border-radius: 20px;
    padding: 0 10px;
}
.profit .headline h3 i {
    font-style: normal;
    margin-left: 5px;
}
.profit .value {
    border-radius: 6px;
    font: 5em Open Sans;
    letter-spacing: -3px;
    margin: 20px auto 0;
    position: relative;
    text-align: center;
    color: #FF6B6B;
}
.profit .value span {
    font-size: 60px;
    margin-right: 10px;
    position: relative;
    top: 0px;
}
.start-min {
    font-size: 30px!important;
    text-indent: 0!important;
}
.clock-position {
    top: -20px!important;
    position: relative;
    right: -6px;
}
.getting-started {
    position: relative;
    left: -20px;
}
.profit .value i {
    font-size: 27px;
    font-style: normal;
    letter-spacing: 0;
    margin: 0 0 0 10px;
    text-transform: uppercase;
}
.profit .value b {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 0 0 10px;
    text-transform: uppercase;
}
.profit .profit-line {
    text-align: center;
}
.revenue {
    background-color: #FFFFFF;
    padding: 15px;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 4px;
    margin-bottom: 15px;
}
.revenue .headline {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}
.revenue .headline h3 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
}
.revenue .headline h3 span {
    background-color: #FFA200;
    border-radius: 20px;
    padding: 0 5px;
}
.revenue .headline h3 i {
    font-style: normal;
    margin-left: 5px;
}
.revenue .value {
    border-radius: 6px;
    font: 5em Open Sans;
    letter-spacing: -3px;
    margin: 20px auto 0;
    position: relative;
    text-align: center;
    color: #FFA200;
}
.revenue .value span {
    font-size: 25px;
    margin-right: 5px;
    position: relative;
    top: -20px;
}
.revenue .profit-line {
    text-align: center;
}
.revenue .value i {
    font-size: 27px;
    font-style: normal;
    letter-spacing: -1px;
    margin: 40px 20px 0 0;
    text-transform: uppercase;
}
b#speed {
    font-weight: normal;
    font-size: 60px;
}
.gauge-position {
    top: 30px!important;
    position: relative;
    right: -20px;
}
.order {
    background-color: #FFFFFF;
    padding: 15px;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 4px;
    margin-bottom: 15px;
}
.order .headline {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}
.order .headline h3 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
}
.order .headline h3 span {
    background-color: #45B6B0;
    border-radius: 20px;
    padding: 0 10px;
}
.order .headline h3 i {
    font-style:normal;
}
.order .value {
    border-radius: 6px;
    font: 5em Open Sans;
    letter-spacing: -3px;
    margin: 20px auto 0;
    position: relative;
    text-align: center;
    color: #45B6B0;
}
.order .value span {
    font-size: 25px;
    margin-right: 5px;
    position: relative;
    top: -20px;
}
.order .profit-line {
    text-align: center;
}
.order .value i {
    font-size: 27px;
    font-style: normal;
    letter-spacing: -1px;
    margin: 0 0 0 10px;
    text-transform: uppercase;
}
.order .value b {
    font-size: 14px;
    font-style: normal;
    letter-spacing: -1px;
    margin: 0 0 0 10px;
    text-transform: uppercase;
    font-weight:normal;
}
.member {
    background-color: #FFFFFF;
    padding: 15px;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 4px;
    margin-bottom: 15px;
}
.member .headline {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}
.member .headline h3 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 15px;
}
.member .headline h3 span {
    background-color: #65C3DF;
    border-radius: 20px;
    padding: 0 10px;
}
.member .headline h3 i {
    font-style:normal;
}
.member .value {
    border-radius: 6px;
    font: 5em Open Sans;
    letter-spacing: -3px;
    margin: 20px auto 0;
    position: relative;
    text-align: center;
    color: #65C3DF;
}
.member .value span {
    font-size: 25px;
    margin-right: 5px;
    position: relative;
    top: -20px;
}
.member .value b {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 0 0 10px;
    text-transform: uppercase;
}
.member .profit-line {
    text-align: center;
    font-size: 12px;
}
.member .value i {
    font-size: 27px;
    font-style: normal;
    letter-spacing: -1px;
    margin: 0 0 0 10px;
}
.profit .headline .titleClose {
    font-size: 16px;
    position: absolute;
    right: 17px;
    top: 10px;
}
.revenue .headline .titleClose {
    font-size: 16px;
    position: absolute;
    right: 17px;
    top: 10px;
}
.order .headline .titleClose {
    font-size: 16px;
    position: absolute;
    right: 17px;
    top: 10px;
}
.member .headline .titleClose {
    font-size: 16px;
    position: absolute;
    right: 17px;
    top: 10px;
}
/**
 * PAPER FLOAD
 */
 .paper-wrap {
    background-color: none repeat scroll 0 0 #ffffff;
    background-position: -1px 0;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, transparent 20px, $color-green 20px), linear-gradient(135deg, transparent 20px, $color-green 20px), linear-gradient(225deg, transparent 20px, $color-green 20px), linear-gradient(315deg, transparent 20px, $color-green 20px);
    background-position: bottom left, top left, top right, bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    padding: 20px;
    min-height: 1430px;
}
.bevel.tlbr {
    background: #f5f5f5;
    background: -moz-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -moz-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -moz-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -moz-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
    background: -o-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -o-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -o-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -o-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
    background: -webkit-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -webkit-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -webkit-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -webkit-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
}
.bevel.all, .bevel.trbl, .bevel.tlbr, .bevel.tr {
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 52% 52%;
    -webkit-background-size: 52% 52%;
    background-size: 52% 52%;
    background-repeat: no-repeat;
}
.paper-wrap:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 42px 42px 0;
    border-style: solid;
    border-color: #ffffff rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.content-wrap {
    padding: 0 30px;
}
#paper-top {
    border-bottom: 1px solid #DDDDDD;
    padding:0;
    height:40px;
}
.devider-vertical {
    border-right: 1px dashed #CCCCCC;
    height: 74px;
    left: 0;
    position: absolute;
    top: -35px;
    width: 3px;
}
#paper-middle {
    background: none repeat scroll 0 0 #E0E8EF;
    border-bottom: 1px solid #DDDDDD;
    height: 400px;
    margin-bottom: 30px;
    margin-top: 0;
    width: 100%;
}
.gauge-wrap li {
    list-style: none;
    display: inline-block;
}
#sheetswitch {
    position: absolute;
    top: 0px;
    right: 20px;
    background: url('../images/bg_grad.jpg');
    border-left: 1px solid #23B2D2;
    border-right: 1px solid #23B2D2;
    border-bottom: 1px solid #23B2D2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#sheetswitch img {
    border: none;
}
#sheetswitch .swatch {
    margin-right: 15px;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    border: 1px solid white;
}
#sheetswitch .swatch_hi {
    border: 1px solid #777;
}
.sheetswitch_prev {
    margin-right: 15px;
}
.sheetswitch_next, .sheetswitch_prev {
    float: left;
}
/*FOOTER*/
 .wrap-footer {
    margin-top: 60px;
}
.footer-space {
    height: 60px;
    width: 100%;
}
#footer {
    background: none repeat scroll 0 0 #f8f8f8;
    border-top: 1px solid #DDDDDD;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
}
#footer ul {
    float: right;
    margin: 5px 15px;
    text-decoration: none;
}
#footer ul li {
    color: #555555;
    display: inline-block;
    font-size: 14px !important;
    padding: 0 6px;
    text-decoration: none;
}
.copyright {
    bottom: 0;
    color: #666666;
    float: right;
    font-size: 12px !important;
    padding: 5px 15px;
    position: relative;
}
.devider-footer {
    border-left: 1px solid #DDDDDD;
    float: right;
    height: 50px;
    margin-top: -10px;
    width: 4px;
}
.devider-left {
    border-left: 1px solid #DDDDDD;
    float: left;
    height: 50px;
    width: 4px;
}
/**
 * LEFT MENU
 * Left mobile menu
 */
 @media (max-width: 767px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-bottom: 30px;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }
    #paper-top {
        padding: 0 20px 0 30px !important;
        height: auto;
    }
    .tittle-content-header {
        margin: 0 0 0 30px!important;
    }
    #skin-select #toggle {
        display: none!important;
    }
    #skin-select {
        left:-250px!important;
        top: 31px!important;
    }
    #menu-showhide, .menu-left-nest {
        border-radius: 0 !important;
        margin: 1px 0 0 !important;
    }
    .side-bar {
        margin-top: -29px!important;
        display: block!important;
    }
    .navbar-top {
        margin: 0 10px!important;
    }
    .wrap-fluid {
        float: right!important;
        width: 100%!important;
    }
    #skin-select li {
        text-align: right!important;
    }
    #skin-select li span, ul.topnav h4, .noft-blue, .noft-blue-number, .noft-purple-number, .dark, .side-dash, .dropdown-wrap:after, .dropdown-setting:after, .widget-menu-hide, .config-wrap {
        display: none!important;
    }
    body {
        padding-left:50px!important;
    }
    .tooltip-tip2, .tooltip-tip {
        display: block!important;
    }
    #nt-title-container {
        margin: 15px 0 20px !important;
    }
    .nav.navbar-nav.navbar-right {
        margin: 35px 0 !important;
    }
    .navbar {
        margin-left: 0!important;
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin: 0!important;
    }
    .dropdown-menu .divider {
        background-color: rgba(0, 0, 0, 0.2)!important;
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
    }
    .dropdown-menu.dropdown-wrap div {
        width: auto!important;
    }
    .dropdown-menu > li > a {
        color: #FFFFFF!important;
    }
    .running-text {
        width: 100%!important;
        padding: 10px 45px 0 20px!important;
        height: 40px!important;
    }
    .navbar-collapse {
        background: rgba(0, 0, 0, 0.4)!important;
    }
    .noft-red {
        top: 0!important;
        margin-right: 20px;
        position: relative!important;
        float: right;
    }
    .noft-green {
        top: 0!important;
        margin-right: 20px;
        position: relative!important;
        float: right;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        border: 0px solid #ccc!important;
        margin-left: 0!important;
    }
}
/**
 * RIGHT MENU/ SLIDING CONTENT
 */
 .right-wrapper {
    background: rgba(0, 0, 0, 0.2);
    margin: 75px 10px 10px;
    min-height: 300px;
    padding: 20px 15px;
    border-radius: 4px;
}
.right-wrapper h3 {
    color: #FFFFFF;
    font-size: 13px;
    margin: 0 0 20px 20px;
}
.right-wrapper h3 i {
    font-style: normal;
}
.right-wrapper h3 span {
    background: rgba(0, 0, 0, 0.1);
    padding: 2px 10px 4px;
    border-radius: 11px;
    color: #FFFFFF;
    font-size: 13px;
    margin: 0 0 20px 0px;
    font-weight: normal;
}
.chat {
    margin: 10px 0 0 -19px;
}
.chat li {
    list-style: none;
    display: block;
    margin-bottom: 0;
}
.chat li a {
    color: #FFFFFF;
    text-decoration: none;
}
.chat li a span {
    width: 22px;
    height: 22px;
}
.chat li b {
    position: relative;
    font-weight: normal;
    top: -5px;
}
.chat li i {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.3);
    margin: 0 0 0 30px;
    position: relative;
    top: -18px;
}
img.img-chat {
    width: 30px;
    margin: 0 10px 0 -10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.img-offline {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.label-chat {
    margin-bottom: 25px!important;
    font-size: 11px!important;
}
.widget-knob {
    float: left;
    width: 60px;
    display: block;
    margin-bottom: -15px;
}
.widget-def {
    float: left;
    width: 100%;
    display: inline-block;
    position: relative;
    top: -35px;
    left: 65px;
}
.widget-def b {
    position: relative;
    font-weight: normal;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
    float: left;
}
.widget-def i {
    position: relative;
    font-weight: normal;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 10px;
    float: left;
    font-style: normal;
    color: rgba(255, 255, 255, 0.3);
    display: block;
}
button.navbar-toggle.toggle-menu-mobile {
    position: absolute;
    right: 40px;
}
.invoice-header {
    background: #EFEFF0;
    color: #fff;
    border-radius: 4px 4px 0 0;
    margin: -16px 0 30px 0px;
}
small.pull-right {
    color: #fff;
    font-size: 17px;
    margin: 8px 0;
}
.page-header {
    padding-bottom: 9px!important;
    margin: 30px 0 20px!important;
    border-bottom: 0px solid #eee!important;
}
